@import "modules/reset";
@import "modules/_variables";
@import "modules/mixins";

@import "partials/main-Page";
@import "partials/flickr-Api";
@import "partials/parallax-scrolling";


body {
  font-family: $font-stack;
  color: map_get($colors, dark);
  font-size: 16px;
}

.hidden {
  display: none;
}



//creating grid with 12 columns
// main container
.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  //background-color: #0000AA;

  .row {
    //we use this placeholder to clear the floats
    @extend %clearfix;

    ////we set margin -$gutter to clear space at the begging and the end of the row
    //margin-right: -$gutter;
    //margin-left: -$gutter;

    //We find all col-* class'es and set them width 100% - Mobile first!
    [class*='col-'] {
      width: 100%;
      float: left;
      padding-left: $gutter;
      padding-right: $gutter;
    }
    @media screen and (min-width: $tablet-breakpoint) {
      @include grid(8);
      margin-bottom: 10px;
    }
    //We set col- width for bigger screans
    @media screen and (min-width: $desktop-breakpoint) {
      @include grid(12);
      margin-bottom: 10px;
    }
  }
}