#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: #fff;
  z-index:999; /* makes sure it stays on top */
  #status {
    width:128px;
    height:128px;
    position:absolute;
    left:50%;
    top:50%;
    background-image: url('../../img/Preloader_3-kopia.gif');
    background-repeat: no-repeat;
    background-position: center;
    margin:-64px 0 0 -64px; /* to center preloader */
  }
}

section.flickr-api {
  position: relative;
  section.nav-bar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 80px;
    background-color: lighten(map_get($colors, grey), 20%);
    border-bottom: 1px solid map_get($colors, grey);
    form {
      input[type='text'].search-input {
        display: inline-block;
        border-radius: 6px;
        width: 45vw;
        height: 35px;
        padding: 20px;
        outline: none;
        border-style: solid;
        border-color: transparent;
      }
      button {
        //padding: 7px;
        border-radius: 5px;
        background-color: transparent;
        border: none;
        &:focus {
          outline: none;
          border-style: none;
        }
      }
    }
    i.fa-star-o {
      background-color: transparent;
      outline: none;
      border-style: none;
      margin: 0 20px 0 8px;
      color: #2f2f2f;
      cursor: pointer;
      &.saved {
        color: map_get($colors, favourite);
      }
      &:focus {
        outline: none;
        border-style: none;
      }
    }
    i.fa-search {
      color: #2f2f2f;
    }
    div.close-flickr {
      a.close-flickr {
        display: inline-block;
        div.close-flickr-button {
          width: 30px;
          height: 15px;
          p.close-line.one.transform-line1 {
            top: 0;
            -webkit-transform: translateY(8px) rotate(45deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
            -ms-transform: translateY(8px) rotate(45deg); /* IE 9 */
            transform: translateY(8px) rotate(45deg);
          }
          p.close-line.three.transform-line3 {
            top: 12px;
            -webkit-transform: translateY(-8px) rotate(-45deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
            -ms-transform: translateY(-8px) rotate(-45deg); /* IE 9 */
            transform: translateY(-8px) rotate(-45deg);
          }
          p.close-line {
            height: 4px;
            background-color: map_get($colors, dark);
            position: relative;
            transition: 0.5s;
          }
        }
      }
    }
  }
  section.photos.container {
    margin-top: 100px;
    text-align: center;
  }
  span.resultsNumber {
    padding-bottom: 30px;
  }
  .bottomSpace {
    &:hover {
      opacity: 0.9;
      i.favouriteStar {
        opacity: 1;
      }
    }
    margin-bottom: $gutter;
    width: 100%;
    height: auto;
    background-size: contain;
    background-position: center center;
    position: relative;
    padding-left: -15px;
    padding-right: -15px;
    i.favouriteStar {
      color: #fff;
      opacity: 0.7;
      bottom: 20px;
      right: 20px;
      cursor: pointer;
      &.saved {
        color: map_get($colors, favourite);
      }
    }
    .rotate-scale-up {
      -webkit-animation: rotate-scale-up 0.65s linear both;
      -moz-animation: rotate-scale-up 0.65s linear both;
      animation: rotate-scale-up 0.65s linear both;
      @-webkit-keyframes rotate-scale-up{0%{-webkit-transform:scale(1) rotateZ(0);transform:scale(1) rotateZ(0)}50%{-webkit-transform:scale(2) rotateZ(180deg);transform:scale(2) rotateZ(180deg)}100%{-webkit-transform:scale(1) rotateZ(360deg);transform:scale(1) rotateZ(360deg)}}@keyframes rotate-scale-up{0%{-webkit-transform:scale(1) rotateZ(0);transform:scale(1) rotateZ(0)}50%{-webkit-transform:scale(2) rotateZ(180deg);transform:scale(2) rotateZ(180deg)}100%{-webkit-transform:scale(1) rotateZ(360deg);transform:scale(1) rotateZ(360deg)}}
    }

    &.hidden {
      display: none;
    }
    img {
      //border-radius: 20px;
    }
  }
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  //background-color: #0000AA;

  .row {
    //we use this placeholder to clear the floats
    @extend %clearfix;

    ////we set margin -$gutter to clear space at the begging and the end of the row
    //margin-right: -$gutter;
    //margin-left: -$gutter;

    //We find all col-* class'es and set them width 100% - Mobile first!
    [class*='col-'] {
      width: 100%;
      float: left;
      padding-left: $gutter;
      padding-right: $gutter;
    }
    @media screen and (min-width: $tablet-breakpoint) {
      @include grid(8);
      margin-bottom: 10px;
    }

    //We set col- width for bigger screans
    @media screen and (min-width: $desktop-breakpoint) {
      @include grid(12);
      margin-bottom: 10px;
    }
  }
}
