section.parallax {
  perspective: 1px; //perspective to create a 3d space The user is looking "from" 1px
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; // the content inside the element to scroll in the usual way, but now descendant elements will be rendered relative to the fixed perspective.
  .parallax-group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    overflow: hidden;
    .parallax-layer { //layer of content to which the parallax effect will be applied
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .parallax-layer-base { // we determine the scrolling speed of a parallax element by translating it along the Z axis (moving it farther away, or closer to the viewport)
      transform: translateZ(0);
      font-size: 2rem;
      color: #fff;
      top: 50%;
      text-align: center;
      text-transform: uppercase;
      div.home {
        text-align: center;
        a {
          text-decoration: none;
          color: #fff;
          div.backToHome {
            font-size: 0.7rem;
            display: inline-block;
            border: 3px solid #fff;
            padding: 15px;
            margin-top: 30px;
            border-radius: 3px;
            letter-spacing: 2px;
            &:hover {
              background-color: #fff;
              color: black;
              font-weight: 900;
            }
          }
        }
      }
    }
    .parallax-layer-back {
      transform: translateZ(-1px) scale(2.04); //push the element backward (toward the user) - because is "-". to create the depth we use scale.
      &.photo1 {
        @include photoBase(url("../../img/wind.jpg"));
      }
      &.photo2 {
        @include photoBase(url("../../img/ride.jpg"));
      }
      &.photo3 {
        @include photoBase(url("../../img/pictures.jpg"));
      }
      &.photo4 {
        @include photoBase(url("../../img/appreciate_those_you_love.jpg"));
      }
      &.photo5 {
        @include photoBase(url("../../img/joga.jpeg"));
      }
      &.photo6 {
        @include photoBase(url("../../img/nature.jpg"));
      }
      &.photo7 {
        @include photoBase(url("../../img/perspective.jpeg"));
      }
      &.photo8 {
        @include photoBase(url("../../img/art1.jpg"));
      }
      &.photo9 {
        @include photoBase(url("../../img/bird.jpeg"));
      }
      &.photo10 {
        @include photoBase(url("../../img/universe.jpg"));
      }
    }
  }

}
