//This mixin generate $column-number columns for grid
@mixin grid($column-number) {
    @for $i from 1 through $column-number {
        .col-#{$i} {
        //we determine width of column
        width: 100% / $column-number * $i;
        }
    }
}



//for parallax background base
@mixin photoBase($img) {
    background-image: $img;
    background-size: cover;
    background-position: center center;
}