$font-stack:  'Montserrat', sans-serif;

// font and background colors //
$colors: (
  primary: #cf0d10,
  grey: #c1bcb0,
  dark-grey: #33342E,
  light: #F5F5F5,
  dark: #000
);

//space between columns
$gutter: 30px;


//breakpoints for grid
$desktop-breakpoint: 540px;

//placeholder that clears floats
%clearfix {
  &:before, &:after{
    content: "";
    display: table;
    clear: both
  }
}

//button on the main page
%buttons {
  width: auto;
  background: none;
  color: map_get($colors, dark);
  font-size: 1em;
  border-radius: 5px;
  border: 2px solid map_get($colors, primary);
  padding: 5px;
  font-weight: 500;
}